# Mobile App for Lottery Addicition

In order to help medical institute aim to prevent and treat gambling addictions we help set up a mobile app for patients so they can see for themself the probability of winning a lottery ticket.  The app will include:
1. The probability of winning the big prize with a single ticket
2. The probabilty of winning the big prize according to the amount of tickets they buy
3  The probabilty of winning a lottery for five, four, three, or two correct winning numbers on a single ticket.

In [1]:
import numpy as np
import pandas as pd
from math import sqrt
import scipy.stats as st
from scipy.stats import chi2

In [2]:
def factorial(n):
    result = 1
    for i in range(n, 0, -1):
        result *= i
    return result

In [3]:
def combination(n, k):
    numerator = factorial(n)
    denomator = factorial(k)*(factorial(n-k))
    return numerator/denomator

In [4]:
def one_ticket_probability(a,b,c,d,e,f):
    ticket = a, b, c, d, e, f
    possible=combination(49, 6)
    percentage= (1/possible)*100
    return print('Your chances to win the lottery with your numbers {} are {:.7f}%. In other words, you have a 1 in {:,} chance to win.'.format(ticket,
                    percentage, int(possible)))
#    return "The possibility of winning the lottery with your ticket number is ", result, "%"

In [5]:
test = one_ticket_probability(2,3,4,5,6,7)
test

Your chances to win the lottery with your numbers (2, 3, 4, 5, 6, 7) are 0.0000072%. In other words, you have a 1 in 13,983,816 chance to win.

Above's function will show the user the chance of winning the grand prize lottery if he buys one ticket.

In [6]:
lottery= pd.read_csv('649.csv')

In [7]:
lottery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   object
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [8]:
lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [9]:
lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [10]:
def extract_numbers(row):
    row=row[4:10]
    row=set(row)
    return row

In [11]:
winning = lottery.apply(extract_numbers, axis=1)
winning.head(5)

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [12]:
def check_historical_occerence(array, winningt):
    array=set(array)       
    amount_winning=array == winningt
    total_winning=sum(amount_winning)
    if total_winning == 0:
        return print('''Your ticket numbers {} was never a winning number in the 3665 winning ticket numbers during the years 1982 through 2018 in Canada.
        
        Your chances of winning the lottery is 0.0000072%. In other words, you have a 1 in 13,983,816 chance to win. '''.format(array))
    else:
        return print('''In the 3665 winning ticket numbers during the years 1982 through 2018 in Canada your lottery numbers {} would have been choosen {} time.
        Your chances of winning the lottery with these numbers again is 0.0000072%. In other words, you have a 1 in 13,983,816 chance to win.'''.format(array, total_winning))

In [13]:
ticket = [34, 5, 14, 47, 21, 31]
test = check_historical_occerence(ticket, winning)
test

In the 3665 winning ticket numbers during the years 1982 through 2018 in Canada your lottery numbers {34, 5, 14, 47, 21, 31} would have been choosen 1 time.
        Your chances of winning the lottery with these numbers again is 0.0000072%. In other words, you have a 1 in 13,983,816 chance to win.

In [14]:
ticket = [10, 20, 23, 27, 24, 11]
test = check_historical_occerence(ticket, winning)
test

Your ticket numbers {10, 11, 20, 23, 24, 27} was never a winning number in the 3665 winning ticket numbers during the years 1982 through 2018 in Canada.

        Your chances of winning the lottery is 0.0000072%. In other words, you have a 1 in 13,983,816 chance to win.

In the above function we took historical data from 3665 winning ticket numbers from 6/49 lotteries during the years 1982 and 2018 in Canada to show users how unlikely it is to win the grand prize lottery.   Users can insert any lottery number to see if there ticket number was the winning ticket in those years, and how many times it was the winning ticket.

In [15]:
def multi_ticket_probability(num):
    total_possible=combination(49,6)
    prob = (num/total_possible)*100
    return print('If you buy {} ticket(s) the likelyhood of winning is {:.7f}%.'.format(num, prob))

In [16]:
prob_perc = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for amount in prob_perc:
    multi_ticket_probability(amount)
    print('------------------------')

If you buy 1 ticket(s) the likelyhood of winning is 0.0000072%.
------------------------
If you buy 10 ticket(s) the likelyhood of winning is 0.0000715%.
------------------------
If you buy 100 ticket(s) the likelyhood of winning is 0.0007151%.
------------------------
If you buy 10000 ticket(s) the likelyhood of winning is 0.0715112%.
------------------------
If you buy 1000000 ticket(s) the likelyhood of winning is 7.1511238%.
------------------------
If you buy 6991908 ticket(s) the likelyhood of winning is 50.0000000%.
------------------------
If you buy 13983816 ticket(s) the likelyhood of winning is 100.0000000%.
------------------------

In the above function we made a function that a person can enter how many tickets they would buy to see the probability of winning the lottery with the purchase of more tickets.  This can help an addict realize that even by buying many tickets the probability is still very low.

In [17]:
def probability_less_6(n):
    right_num= combination(6, n)
    wrong_num= combination(43, (6-n))
    denominator = combination(49,6)
    perc = round(((right_num * wrong_num)/denominator)*100, 4)
    return print('The chances of winning {} numbers out of 6 numbers from your ticket in the lottery is {}%.'.format(n,
                    perc))

In [18]:
prob_perc = [2, 3, 4, 5]

for amount in prob_perc:
    probability_less_6(amount)
    print('------------------------')

The chances of winning 2 numbers out of 6 numbers from your ticket in the lottery is 13.2378%.
------------------------
The chances of winning 3 numbers out of 6 numbers from your ticket in the lottery is 1.765%.
------------------------
The chances of winning 4 numbers out of 6 numbers from your ticket in the lottery is 0.0969%.
------------------------
The chances of winning 5 numbers out of 6 numbers from your ticket in the lottery is 0.0018%.
------------------------

The above function will give the user an estimate on the likelyhood of winning the 2, 3, 4, or 5 correct number prize.  This can help the user see the probability of at least making his money back for purchasing the ticket or winning a smaller prize.